@import '../../mixins.scss';

.product {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;

    &__info {
        flex: 0.2;
        margin-bottom: 1rem;

        &__price {
            &__currency {
                font-size: 0.8rem;
            }

            span {
                font-weight: 800;
            }
        }
    }

    &__image {
        flex: 0.7;
        // max-height: 150px;
    }

    &__cta {
        flex: 0.1;
        padding: 0.5rem 2rem;
        background-color: $yellow;
        width: max-content;
        margin: 1rem auto 0 auto;
        border-radius: 5px;
    }
}
