@import '../../mixins.scss';

.cartItem {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: max-content;
    margin: 1rem 0;

    img {
        width: 30%;
        height: 100%;
    }

    &__info {
        width: 70%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: space-between;

        &__price {
            margin-top: 0.5rem;
            font-weight: 800;
        }

        &__ratings {
            margin-top: 1rem;
            display: flex;
        }

        &__cta {
            background-color: $yellow;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
        }
    }
}
