@import '../../mixins.scss';

.cart {
    background-color: white;
    padding: 1rem;
    min-height: 100vh;
    height: auto;
    @include tablet {
        display: flex;
    }

    &__left {
        flex: 0.7;
        margin-right: 1rem;
        padding-bottom: 10rem;

        img {
            width: 100%;
            max-height: 100px;
            margin-bottom: 1rem;
            object-fit: contain;
        }

        .cartContainer {
            &__headline {
                padding: 0.5rem;
                border-bottom: 1px solid black;
            }
        }
    }

    &__right {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        padding: 1rem 0;
        @include tablet {
            height: max-content;
            padding: 0;
            position: sticky;
            top: calc(90px + 1rem);
            flex: 0.3;
        }

        .subtotal {
            bottom: 0.5rem;
            right: 0;
            width: 95%;
            margin: 0 auto;
            height: 150px;
            max-height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $white;
            padding: 1rem;
            border-radius: 5px;
            @include tablet {
                margin: 0;
                width: 100%;
            }

            &__total {
                span {
                    font-size: inherit;
                    font-weight: 800;
                }
            }

            &__gift {
                display: flex;
                align-items: center;

                input {
                    margin-right: 0.5rem;
                }

                label {
                    font-weight: 400;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
